/__pycache__
.DS_Store
/.venv
__pycache__/
*.pyc

#ignore contents of these output folder
/report_charts/*
/output/*
#leave the folders themselves in the repo
!/report_charts/.gitkeep
!/output/.gitkeep